

/*** 1. GLOBAL ***/

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  color: inherit;
}


/* Variables
  ============================= */

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-rose: #FF6565;
    --color-dark-red: #a44040;

    --link-hover-color: var(--color-rose);

    --hover-opacity: 0.9;

    --font-face: source-sans-pro;
    --font-size-large: 20px;
    --font-size-mid: 16px;
    --font-size-small: 14px;
}

/* Fonts
  ============================= */

  @font-face {
    font-family: "source-sans-pro";
    src: url("fonts/source-sans-pro/SourceSansPro-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("fonts/source-sans-pro/SourceSansPro-Bold.otf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("fonts/source-sans-pro/SourceSansPro-Light.otf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("fonts/source-sans-pro/SourceSansPro-Semibold.otf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("fonts/source-sans-pro/SourceSansPro-It.otf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("fonts/source-sans-pro/SourceSansPro-BlackIt.otf");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("fonts/source-sans-pro/SourceSansPro-LightIt.otf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "source-sans-pro";
    src: url("fonts/source-sans-pro/SourceSansPro-SemiboldIt.otf");
    font-weight: 600;
    font-style: italic;
}

  /*** 2. LAYOUT ***/
  
  /* Base
      ============================= */

body {
  font-family: source-sans-pro;
}

a {
    text-decoration: none;
}

a:hover, a:active {
    opacity: var(--hover-opacity);
    color: var(--link-hover-color);
    cursor: pointer;
}

button {
  background-color: var(--color-rose);
  color:#FFF;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  margin: 20px;
  display: inline-block;
  font-size: var(--font-size-small);
  font-weight: bold;
  filter: drop-shadow(0 0 0.4rem var(--color-black));
  height: 44px;
  width: 162px;
}

button:hover {
  background-color: var(--color-dark-red);
  cursor: pointer;
}

/* Header styles */

main section:nth-child(1) {
  background-image: url("./images/headphones_hero_1.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

main section:nth-child(1) header {
  padding: 30px 200px;
}

main section:nth-child(1) header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

main section:nth-child(1) header ul li ul li {
  margin: 0 50px 0 0;
}

main section:nth-child(1) header ul li ul li a:hover {
  color: #ff6565;
}

main section:nth-child(1) header ul img {
  width: 161px;
}

.header .menu-btn {
  display: none;
}

.menu-btn:checked ~ .navbar-menu {
  display: block;
}

.menu-btn:checked ~ .navbar-menu .nav {
  max-height: 100%;
  overflow: inherit;
}

.menu-btn:checked ~ .navbar-menu .menu-icon .navicon {
  background: transparent;
}

.menu-btn:checked ~ .navbar-menu .menu-icon .navicon::before {
  transform: rotate(-45deg);
  top: 0;
}

.menu-btn:checked ~ .navbar-menu .menu-icon .navicon::after {
  transform: rotate(45deg);
  top: 0;
}

@media (max-width: 767px) {
  main section:nth-child(1) header {
      padding: 30px 66px;
  }

  main section:nth-child(1) header ul li ul li {
      margin: 0 30px 0 0;
  }
}

@media (max-width: 480px) {
  main section:nth-child(1) header ul {
      justify-content: center;
  }
  .header-logo {
      padding: 0 50px 0 0;
  }

  .header .nav {
      flex-direction: column;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.2s ease-out;
      padding: 10px 0 0 0;
  }

  .nav li {
      width: 100%;
      text-align: center;
      padding: 10px 0;
  }

  .navbar-menu {
      flex: 1 100%;
      display: none;
  }

  .header .menu-icon {
      display: block;
  }
  .header .menu-icon {
      cursor: pointer;
      padding: 12px 0 0 0;
      position: relative;
      user-select: none;
  }

  .header .menu-icon .navicon {
      background: white;
      display: block;
      width: 15px;
      height: 2px;
      position: relative;
      transition: background 0.2s ease-out;
  }

  .header .menu-icon .navicon::before,
  .header .menu-icon .navicon::after {
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      position: absolute;
      background: white;
      transition: all 0.2s ease-out;
  }

  .header .menu-icon .navicon::before {
      top: 0.4rem;
  }

  .header .menu-icon .navicon::after {
      top: -0.4rem;
  }
}

.main-part {
  height: 80%;
  display: flex;
  justify-content: end;
  flex-direction: column;
  color: white;
  padding: 0 370px;
  text-align: center;
}

.main-part h2 {
  font-size: 32px;
  font-weight: bold;
}

.main-part .first {
  font-size: 16px;
  font-weight: bold;
}

.main-part div {
  display: flex;
  justify-content: center;
}

.main-part button {
  margin: 40px 0 60px 0;
  width: 160px;
  height: 44px;
}

.paragraph {
  font-size: 16px;
  color: rgb(201, 201, 201);
  width: 630px;
  font-weight: normal;
}

@media (max-width: 767px) {
  .main-part {
      height: 80%;
      padding: 0 66px;
  }
}

@media (max-width: 480px) {
  .main-part {
      height: 80%;
      padding: 0 9px;
  }
}